body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.headerhome {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photos {
    transition: all 1000ms;
    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & img {
            width: 80vw;
            margin-bottom: 5%;
        }
    }
}

.slider {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
}
